<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
	<description>DB Conn</description>
	<res-ref-name>jdbc/FlightDB</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
  <filter>
	<filter-name>com.mhz.frontend.Login</filter-name>
	<filter-class>com.mhz.frontend.Login</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.frontend.Login</filter-name>
	<url-pattern>/welcome</url-pattern>
  </filter-mapping>
  <servlet>
	<servlet-name>com.mhz.frontend.Welcome</servlet-name>
	<servlet-class>com.mhz.frontend.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.frontend.Welcome</servlet-name>
	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.frontend.Logout</servlet-name>
	<servlet-class>com.mhz.frontend.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.frontend.Logout</servlet-name>
	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.UserCreate</servlet-name>
	<servlet-class>com.mhz.booking.UserCreate</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.UserCreate</servlet-name>
	<url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.Search</servlet-name>
	<servlet-class>com.mhz.booking.Search</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.Search</servlet-name>
	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <filter>
	<filter-name>com.mhz.booking.Reservation</filter-name>
	<filter-class>com.mhz.booking.Reservation</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.booking.Reservation</filter-name>
	<url-pattern>/search</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>com.mhz.booking.Flight</filter-name>
	<filter-class>com.mhz.booking.Flight</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.booking.Flight</filter-name>
	<url-pattern>/search</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>com.mhz.booking.BookCheck</filter-name>
	<filter-class>com.mhz.booking.BookCheck</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.booking.BookCheck</filter-name>
	<url-pattern>/book</url-pattern>
  </filter-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.Book</servlet-name>
	<servlet-class>com.mhz.booking.Book</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.Book</servlet-name>
	<url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.Pay</servlet-name>
	<servlet-class>com.mhz.booking.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.Pay</servlet-name>
	<url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <filter>
	<filter-name>com.mhz.booking.ViewCheck</filter-name>
	<filter-class>com.mhz.booking.ViewCheck</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.booking.ViewCheck</filter-name>
	<url-pattern>/view</url-pattern>
  </filter-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.ViewReservation</servlet-name>
	<servlet-class>com.mhz.booking.ViewReservation</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.ViewReservation</servlet-name>
	<url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.ViewBalance</servlet-name>
	<servlet-class>com.mhz.booking.ViewBalance</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.ViewBalance</servlet-name>
	<url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>com.mhz.booking.Cancel</servlet-name>
	<servlet-class>com.mhz.booking.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>com.mhz.booking.Cancel</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <filter>
	<filter-name>com.mhz.booking.CancelCheck</filter-name>
	<filter-class>com.mhz.booking.CancelCheck</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>com.mhz.booking.CancelCheck</filter-name>
	<url-pattern>/cancel</url-pattern>
  </filter-mapping>
</web-app>
